.border-black {
	border-color: #000 !important;
}

.adv-main {
	font-size: 10px;
	width: 100%;
	height: 100%;
}

.adv-bx {
	border-radius: 0.5em;
}

@media (hover: hover) and (pointer: fine) {
	.adv-btn:hover {
		filter: brightness(80%);
		cursor: pointer;
	}
}

.adv-btn:active,
.adv-btn.active {
	filter: brightness(70%);
}

.adv-bx p {
	margin-top: 0;
	margin-left: 2px;
	margin-bottom: 1em;
	position: static;
	line-height: 1.5em;
}

.adv-bx p.adv-location-top {
	margin-left: 0px;
	line-height: 10px;
	font-size: 8px;
	margin-bottom: 5px;
	padding-left: 5px;
	border-radius: 5px;
	position: relative;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.adv-bx p a {
	position: static;
	cursor: pointer;
}

.adv-location-description {
	overflow-x: hidden;
	overflow-y: scroll;
}

.adv-verb-selected a {
	text-decoration: underline !important;
	cursor: pointer;
}

.adv-modal-cover {
	left: -0.5em;
	top: -0.5em;
	width: calc(100% + 1em);
	height: calc(100% + 1em);
	opacity: 0.5;
}

.adv-inventory a {
	position: static;
	line-height: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0.5em;
	display: block;
}

.adv-main .text-black {
	color: black !important;
}

.adv-menu-button {
	z-index: 1000;
}

.adv-menu-item {
	text-decoration: none;
	cursor: pointer;
}

.adv-menu-item:hover,
.adv-menu-item:active {
	color: var(--bs-white) !important;
	background-color: #000;
}