/* src/utils/ContentScaler.css */
.content-scaler-outer {
  left: 0;
  top: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
.content-scaler-inner {
  position: absolute;
  transform-origin: 0 0;
  top: 0;
  left: 0;
}
.content-scaler-inner * {
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  max-width: none;
  max-height: none;
  line-height: normal;
}

/* src/app/AdvGame.css */
.adv-main {
  font-size: 10px;
  width: 100%;
  height: 100%;
}
.adv-bx {
  border-radius: 0.5em;
}
@media (hover: hover) and (pointer: fine) {
  .adv-btn:hover {
    filter: brightness(80%);
    cursor: pointer;
  }
}
.adv-btn:active,
.adv-btn.active {
  filter: brightness(70%);
}
.adv-bx p {
  margin-top: 0;
  margin-bottom: 1em;
  position: static;
  line-height: 1.5em;
}
.adv-bx p a {
  position: static;
  cursor: pointer;
}
.adv-location-description {
  overflow-y: scroll;
}
.adv-verb-selected a {
  text-decoration: underline !important;
  cursor: pointer;
}
.adv-modal-cover {
  left: -0.5em;
  top: -0.5em;
  width: calc(100% + 1em);
  height: calc(100% + 1em);
  opacity: 0.5;
}
.adv-inventory a {
  position: static;
  line-height: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  display: block;
}
.adv-main .text-black {
  color: black !important;
}
