:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-dark: #073642;
	--color-light: #FDF6E3;
	--color-primary: #B58900;
	--color-secondary: #839496;
	--color-success: #2AA198;
	--color-info: #268BD2;
	--color-danger: #D33682;
	--color-warning: #CB4B16;
	--color-background: #001020;
}

body {
	background-color: var(--color-background);
	-webkit-tap-highlight-color: transparent;	
}

@media (hover: hover) and (pointer: fine) {
	.btn:hover {
		filter: brightness(80%);
		cursor: pointer;
	}
}

.btn:active,
.btn.active {
	filter: brightness(70%);
}

.location-description {
	overflow-y: scroll;
}

.location-description p,
.location-description a {
	margin-top: 0;
	margin-bottom: 1em;
	position: static;
	line-height: 1.5em;
}

.inventory a {
	position: static;
	line-height: 1em;
	margin-left: 0.5em;
	margin-top: 0.5em;
	display: block;
	color: var(--color-primary);
}

.verb-selected .location-description a,
.verb-selected .inventory a {
	text-decoration: underline;
	cursor: pointer;
}

.modal-cover {
	left: -0.5em;
	top: -0.5em;
	width: calc(100% + 1em);
	height: calc(100% + 1em);
	background: #000;
	opacity: 0.5;
}